.inputInner {
	position: relative;
  width: 435px;
}
.passwordControl {
	position: absolute;
	top: 12px;
	right: 5px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../../../assets/svg/passwordControl.svg) 0 0 no-repeat;
}
.passwordControl.passwordControlView {
	background: url(../../../assets/svg/passwordControlView.svg) 0 0 no-repeat;
}

.inputProfileEditWrapp {
  width: 696px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}



.inputProfileEditWrapp label{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-text-subtitle);
  margin-top: 9px;
}

.input, .inputAuth{
	position: relative;
  width: 435px;
  height: 36px;
  padding-left: 11px;
  border: 1px solid #D6DCE9;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #6879BB;
  letter-spacing: 0.5px;
}

.input::placeholder, .inputAuth::placeholder{
	color: #CCCCCC;
}

.input:focus, .inputAuth:focus {
  border: 1px solid #415FD5;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  color: #415FD5;
  outline: none;
}

.inputError{
	border: 1px solid #EE4141;
  box-sizing: border-box;
  border-radius: 4px;
}

.inputError:focus {
	border: 1px solid #EE4141;
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
}

.errorMessege {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #EE4141;
  position: relative;
  top: 2px;
}

/*  */

.inputAuthWrapp {
  width: 328px;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.inputAuth{
  width: 328px;
}