.button {
  background: #FFCE0C;
  border: 1px solid #FFCE0C;
  border-radius: 4px;
  padding: 10px 24.3px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
}

.button:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.12);
  background: #FFCE0C;
  border: 1px solid #FFCE0C;
}

.button:not([disabled]):hover {
  background: #FFD73B;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12);
  border: 1px solid #FFD73B;
}

.button:focus {
  background: #FFCE0C;
  border: 1px solid #FFFBEA;
  box-sizing: border-box;
  box-shadow: 0px 1px 10px #FFD73B;
}

.button:not([disabled]):active {
  background: #FFC40C;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.12);
  border: 1px solid #FFC40C;
}

.button:disabled {
  background: #FFCE0C;
  opacity: 0.5;
  border: 1px solid #FFCE0C;
}



