:root {
  --color-bg: #EBF2FB;
  --color-text: #535374;
  --color-text-h: #6879BB;
  box-sizing: border-box; 
} 

*,
*::before,
*::after {
  box-sizing: inherit; 
}

body {
  margin: 0;
  font-family: 'Heebo', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  font-size: 24px;
  color: var(--color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 0 auto;
  padding: 22px;
  max-width: 1366px;
}
